*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  padding-inline-start: 30px;
  padding-block-start: 136px;
  inline-size: 1140px;
}

.result{
  display: flex;
  flex-direction: column;
  block-size: 456px;
  justify-content: flex-end;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 212px 194px; 
  grid-auto-flow: column;
  padding-block-start: 14px;
  justify-content: space-between
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  text-align: start;
  padding-block-end: 5px;
}

.search-form__label {
  display: inline-flex;
  inline-size: fit-content;
  cursor: pointer;
}

.search-form__label:hover>.search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 4px;
  cursor: pointer;
}

.search-form__textfield {
  inline-size: 225px;
  block-size: 27px;
  border: none;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background-color: transparent;
  appearance: none;
  color: inherit;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  margin-block-end: 5px;
}

.search-form__pseudo-checkbox {
  display: flex;
  border: 1px solid #fff;
  inline-size: 19px;
  block-size: 19px;
  margin-inline-end: 5px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  background-color: #fff;
  display: block;
  inline-size: 15px;
  block-size: 15px;
  margin: 1px;
}

.button {
  align-self: end;
  block-size: 34px;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: -3px;
}

.search-form__submit-button {
  padding: 5px 73px;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 21px;
  inline-size: 399px;
  block-size: 100%;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-align: start;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  overflow: auto;
  block-size: 298px;
  position: relative;
}

.content__list-item {
  margin-block: 5px 32px;
  margin-inline: 5px 5px;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  inline-size: 205px;
  margin: 2px;
}

.content__video-card-title {
  overflow: hidden;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: start;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  text-align: start;
  word-break: break-all;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
}

.more-button {
  padding: 5px 144px;
}